{
  "env": {
    "browser":true,
    "es6": true,
    "mocha": true,
    "node": true
  },
  "parser": "babel-eslint",
  "extends": "airbnb",
  "globals": {
    "FB":true,
    "rivets":true,
    "Promise":true,
    "fetch":true,
    "sightglass":true,
    "_paq": true
  },
  "rules":{
    "func-names": ["error", "never"],
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": ["**/test/*.js", "**/test/*.jsx"],
    }],
    "comma-dangle": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "no-mixed-operators": ["error", {"allowSamePrecedence": true}],
    "react/jsx-closing-bracket-location": 0
  }
}
