@import 'utils';

footer {
  @include wrapper();
  background: #404040;
  color: #aaa;
  flex: none;
  padding: 0.5rem 0;
  .container {
    font-style: italic;
    line-height: 1.6em;
    text-align: center;
    > a {
      border-bottom: 1px dashed rgba(229, 229, 229,.5);
      color: #e5e5e5;
      text-decoration: none;
      &:hover {
        border-bottom: 1px solid rgba(229, 229, 229,1);
      }
    }
  }
}
