@import 'common';
/**
 * Page header.
 */
header {
  @include wrapper();
  background: #eee;
  border-bottom: 1px solid #ddd;
  padding: 1em 5%;
  text-align: left;
  //site header
  h1.site-header {
    font-family: 'IndieFlower';
    cursor: pointer;
    display: inline-block;
    font-size: 1.6rem;
    margin: 0 0 0.5rem;
    i.fa {
      font-size: 1.2rem;
      margin-right: 10px;
    }
  }
  //buttons
  .controls {
    > span {
      display: block;
      margin: 0 0 0.5rem;
      &:last-of-type {
        margin-bottom: 0;
      }
      > a.button {
        width: 100%;
      }
    }
  }
}
//starting from a small screen, display all header elements on a single row
@media(min-width: $screen-small) {
  header {
    padding: 0.6rem 1.2rem 0.5rem;
    h1.site-header {
      margin: 0;
    }
    .controls {
      float: right;
      margin-top: 2px;
      > span {
        display: inline-block;
        margin-right: 0.5em;
        &:last-of-type {
          margin-right: 0;
        }
        a.button {
          width: auto;
        }
      }
    }
  }
}
