@import 'utils';

main.home, main.trip {
  .container {
    margin: 0 auto;
    padding: 1.5rem 0;
    .trip-heading {
      font: 1.5rem/1.4 "Indie Flower","Georgia";
      margin: 0 0 1rem;
    }

    .trip-description {
      margin: 5px auto;
      text-align: left;
      width: 300px;
    }

    .post-stubs {
      .post-stub {
        border-radius: 3px;
        box-shadow: 0 0 4px rgba(0,0,0,.5);
        color: white;
        cursor: pointer;
        margin: 0 auto 1.5rem;
        padding: 0;
        position: relative;
        text-align: left;

        // smallest screens
        background-size: 300px 300px;
        background-position: center;
        background-repeat: no-repeat;
        height: 300px;
        width: 300px;

        // the name, date and potentially trip of a post should be shown on a semi-opaque dark background at the bottom of the stub
        .post-stub-contents {
          position: absolute;
          right: 0;
          bottom: 0;
          left: 0;
          background: rgba(0,0,0,.6);
          padding: 1rem 1rem;
          h2 {
            font-size: 1.1rem;
            margin: 0 0 .5rem;
          }
          .post-stub-trip {
            span {
              cursor: pointer;
              display: inline-block;
              font-style: italic;
              margin-left: 3px;
              text-decoration: underline;

              &:hover {
                text-decoration: none;
              }
            }
          }
        }
      }
    }

    .trips{
      margin: 30px 0 0;
      ul {
        margin: 0;
        padding: 0;
        li {
          display: block;
          list-style-type: none;

          &.home {
            margin-bottom: .5rem;
          }

          a {
            &.current {
              color: #555;
              font-weight: bold;
              text-decoration: none;
            }
          }
        }
      }
    }

    button.load-more{
      padding: .6rem 0;
    }
  }
}
@media(min-width: $screen-small) {
  main.home, main.trip {
    .container {
      width: 420px;

      .trip-description {
        width: auto;
      }

      .post-stubs {
        @include clearfix();
        .post-stub {
          background-size: 200px 200px;
          float: left;
          height: 200px;
          margin: 0 20px 1.5rem 0;
          width: 200px;
          &:nth-of-type(2n + 0){
            margin-right: 0;
          }
        }
      }
    }
  }
}
@media(min-width: $screen-medium){
  main.home, main.trip {
    .container{
      width: 730px;
      .post-stubs{
        .post-stub{
          background-size: 230px 230px;
          height: 230px;
          margin-right: 20px;
          width: 230px;
          &:nth-of-type(2n + 0){
            margin-right: 20px;
          }
          &:nth-of-type(3n + 0){
            margin-right: 0;
          }
        }
      }
      button.load-more{
        i.fa{
          font-size: 1em;
        }
      }
    }
  }
}
@media(min-width: $screen-large) {
  main.home, main.trip {
    .container {
      position: relative;
      width: 940px;

      .trips {
        margin: 60px 0 0;
        position: absolute;
        right: -130px;
        text-align: left;
        top: 0;
        width: 110px;

        h4 {
          margin-bottom: 1rem;
        }

        ul {
          li {
            margin: 0 0 .4rem;

            &.home {
              margin-bottom: 1rem;
            }
          }
        }
      }

      .post-stubs {
        .post-stub {
          background-size: 300px 300px;
          height: 300px;
          width: 300px;
          .post-stub-contents {
            bottom: 10px;
          }
        }
      }

    }
  }
}
