@import 'common';

main.home {
  .container {
    .post-stubs {
      margin: 1.5rem auto;
      .post-stub {
        @include clearfix();
        border-radius: 3px;
        box-shadow: 0 0 4px rgba(0,0,0,.5);
        color: white;
        cursor: pointer;
        margin: 0 auto 1.5rem;
        padding: 0;
        position: relative;
        text-align: left;
        // smallest screens
        background-size: 300px 300px;
        background-position: center;
        background-repeat: no-repeat;
        height: 300px;
        width: 300px;
        // the name and (potentially) description of an album should be shown on a semi-opaque dark background at the bottom of the stub
        .post-stub-contents {
          position: absolute;
          right: 0;
          bottom: 0;
          left: 0;
          background: rgba(0,0,0,.6);
          padding: 1rem 1rem;
          h2 {
            font-size: 1.1rem;
            margin: 0 0 .5remq;
          }
          .post-stub-body {
            //display: none;
          }
        }
      }
    }
    button.load-more{
      padding: .6rem 0;
    }
  }
}
@media(min-width: $screen-small) {
  main.home {
    .container {
      .post-stubs {
        @include clearfix();
        width: 420px;
        .post-stub {
          background-size: 200px 200px;
          float: left;
          height: 200px;
          margin: 0 20px 1.5rem 0;
          width: 200px;
          &:nth-of-type(2n + 0){
            margin-right: 0;
          }
          .post-stub-contents {
            .post-stub-body {
              display: block;
              max-height: 40px;
              overflow: hidden;
            }
          }
        }
      }
    }
  }
}
@media(min-width: $screen-medium){
  main.home{
    .container{
      .post-stubs{
        width: 730px;
        .post-stub{
          background-size: 230px 230px;
          height: 230px;
          margin-right: 20px;
          width: 230px;
          &:nth-of-type(2n + 0){
            margin-right: 20px;
          }
          &:nth-of-type(3n + 0){
            margin-right: 0;
          }
        }
      }
      button.load-more{
        i.fa{
          font-size: 1em;
        }
      }
    }
  }
}
@media(min-width: $screen-large) {
  main.home {
    .container {
      .post-stubs {
        width: 1110px;
        .post-stub {
          background-size: 350px 350px;
          height: 350px;
          margin-right: 30px;
          width: 350px;
          &:nth-of-type(2n + 0){
            margin-right: 30px;
          }
          .post-stub-contents {
            bottom: 10px;
            .post-stub-body {
              max-height: none;
              overflow: auto;
            }
          }
        }
      }
    }
  }
}
