// simple modal adjustments
.modal{
  .modal-container{
    .modal-header{
      h4.modal-heading{
        font-size: 1rem;
        font-weight: bold;
        i.fa {
          margin-right: 8px;
        }
      }
      span.modal-closer {
        font-size:1.5rem;
        margin-top: -2px;
        &:hover{
          color: #1CAE66;
        }
      }
    }
    .modal-body {
      h2 {
        font-size: 1.1em;
        i.fa {
          padding: 0 5px 0 0;
        }
      }
      input,
      textarea {
        border: 1px solid #eee;
        border-radius: 4px;
        display: block;
        padding: 0.5em 1em;
        width: 100%;
      }
    }
    .modal-footer{
      a.button,
      button {
        margin-right: 1em;
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}
