@import 'common';
main.post {
  div.banner {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 720px 150px;
    display: block;
    height: 150px;
    width: 100%;
  }
  img.banner {
    display: none;
  }
  .container {
    blockquote {
      background: #f8f8f8;
      border-radius: 2px;
      box-shadow: 0 0 5px 0 #ddd;
      font-style: italic;
      margin: 2em 0;
      padding: 1em 2em 0.5em;
    }
    button[disabled] {
      font-style: italic;
    }
    // post navigation
    .post-navigation {
      nav {
        position: static;
        text-align: left;
        width: 100%;
        .post-next,
        .post-previous {
          margin-bottom: 0.3em;
        }
        .post-next {
          i.fa {
            margin-right: 0;
            margin-left: 6px;
          }
        }
        .post-all {
          //margin-bottom: 1.5em;
        }
        div.latest {
          margin: 1em 0 1.5em;
          text-align: center;
          h2 {
            border-bottom: 1px dotted #eee;
            font-size: 1.1rem;
            padding: 0 0 0.3rem;
            margin: 0 0 0.3rem;
            i.fa {
              margin-right: 6px;
            }
          }
          ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
          }
        }
      }
      .post-navigation-supplementary {
        display: none;
      }
    }
    // post
    article.post {
      .post-meta {
        @include clearfix();
        font-family: 'Indie Flower';
        h1.post-heading {
          font-size: 1.6rem;
          margin: 0.5rem 0 0;
        }
        .post-details {
          display: block;
          font-size: 1rem;
          margin-bottom: 0.5rem;
          .post-details-date {
            font-weight: bold;
          }
        }
      }
      .post-body {
        /*max-height: 300px;
        overflow: hidden;*/
        text-align: justify;
        &.full {
          /*max-height: none;
          overflow: auto;*/
        }
        li {
          text-align: justify;
          padding-bottom: 0.5rem;
        }
      }
      // "read on" button
      div.show-more {
        @include clearfix();
        display: none;
        margin: 1rem 0;
        text-align: right;
        &.visible {
          display: block;
        }
        a.button {
          display: inline-block;
        }
      }
    }
    //image gallery
    .image-gallery {
      @include clearfix();
      padding-top: 30px;
      a.plain-image {
        display: block;
        margin: 0 0 4px;
        img {
          display: block;
        }
      }
      //funky images
      a.funky-image {
        background-position: center;
        background-repeat: no-repeat;
        float: left;
        margin: 0 1px 1px 0;
        &.last {
          margin-right: 0;
        }
      }
      a.funky-image,
      a.plain-image {
        border: none;
        //this is almost imperceptible but feels better, somehow
        border-radius: 1px;
        position: relative;
        .image-description {
          background: rgba(0,0,0,0.6);
          color: #eee;
          display: inline-block;
          font-style: italic;
          font-size: 0.9rem;
          padding: 0.6rem 1rem;
          text-align: left;
          //position & display
          position: absolute;
          left: 0;
          bottom: 0;
          right: 0;
          display: none;
          &.visible {
            display: block;
          }
          p {
            margin: 0 0 0.5em;
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}
@media(min-width: $screen-medium) {
  main.post {
    div.banner {
      display: none;
    }
    img.banner {
      display: block;
    }
    .container {}
  }
}
@media(min-width: $screen-large) {
  main.post {
    .container {
      position: relative;
      .post-navigation {
        nav {
          position: absolute;
          top: 10px;
          left: 0;
          width: 270px;
          padding-top: 1em;
        }
        .post-navigation-supplementary {
          //border-top: 1px dotted #ddd;
          display: block;
          margin: 0;
          padding: 8px 0 0;
          button {
            padding: 0.6rem 1rem;
            &.post-all {
              margin: .2em 0 0;
              width: 100%;
            }
            &.post-previous {
              width: 50%;
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
              border-right: 1px solid #ddd;
              text-align: left;
            }
            &.post-next {
              width: 50%;
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
              border-left: 1px solid #ddd;
              text-align: right;
              i.fa {
                margin-right: 0;
                margin-left: 6px;
              }
            }
          }
        }
      }
      article.post {
        //create space for the navigation
        margin: 0 0 0 300px;
        .post-body {
          min-height: 220px;
        }
      }
    }
  }
}
