/**
 * TODO: Needs serious work.
 */

/**
 * Tablets, phablets, larger phone screens.
 */
@media (min-width: 630px) {
  .container {
    width: 570px;
  }
  .image-gallery {
    a.image {
      margin: 0 10px 10px 0;
      width: 280px;
      &:nth-child(3n+3) {
        margin-right: 0px;
      }
    }
  }
}
/**
 * Laptops, desktops, etc.
 */
@media (min-width: 1040px) {
  .container {
    width: 1000px;
    .description {
      h1 {
        margin-bottom: 1em;
        .details {
          display: inline-block;
          float: right;
        }
      }
    }
  }
  .image-gallery {
    a.image {
      margin: 0 10px 10px 0;
      width: 240px;
      &:nth-child(3n+3) {
        margin-right: 0;
      }
    }
  }
}
