/**
 * Font definitions.
 */
@font-face {
   font-family: 'Raleway';
   font-weight: normal;
   font-style: normal;
   src: url('../media/fonts/Raleway-regular/Raleway-regular.eot');
   src: url('../media/fonts/Raleway-regular/Raleway-regular.eot?#iefix') format('embedded-opentype'),
        local('Raleway'),
        local('Raleway-regular'),
        url('../media/fonts/Raleway-regular/Raleway-regular.woff2') format('woff2'),
        url('../media/fonts/Raleway-regular/Raleway-regular.woff') format('woff'),
        url('../media/fonts/Raleway-regular/Raleway-regular.ttf') format('truetype'),
        url('../media/fonts/Raleway-regular/Raleway-regular.svg#Raleway') format('svg');
 }

 @font-face {
   font-family: 'Raleway';
   font-weight: bold;
   font-style: normal;
   src: url('../media/fonts/Raleway-700/Raleway-700.eot');
   src: url('../media/fonts/Raleway-700/Raleway-700.eot?#iefix') format('embedded-opentype'),
        local('Raleway Bold'),
        local('Raleway-700'),
        url('../media/fonts/Raleway-700/Raleway-700.woff2') format('woff2'),
        url('../media/fonts/Raleway-700/Raleway-700.woff') format('woff'),
        url('../media/fonts/Raleway-700/Raleway-700.ttf') format('truetype'),
        url('../media/fonts/Raleway-700/Raleway-700.svg#Raleway') format('svg');
 }

 @font-face {
   font-family: 'Raleway';
   font-weight: normal;
   font-style: italic;
   src: url('../media/fonts/Raleway-italic/Raleway-italic.eot');
   src: url('../media/fonts/Raleway-italic/Raleway-italic.eot?#iefix') format('embedded-opentype'),
        local('Raleway Italic'),
        local('Raleway-italic'),
        url('../media/fonts/Raleway-italic/Raleway-italic.woff2') format('woff2'),
        url('../media/fonts/Raleway-italic/Raleway-italic.woff') format('woff'),
        url('../media/fonts/Raleway-italic/Raleway-italic.ttf') format('truetype'),
        url('../media/fonts/Raleway-italic/Raleway-italic.svg#Raleway') format('svg');
 }

 @font-face {
   font-family: 'Raleway';
   font-weight: bold;
   font-style: italic;
   src: url('../media/fonts/Raleway-700italic/Raleway-700italic.eot');
   src: url('../media/fonts/Raleway-700italic/Raleway-700italic.eot?#iefix') format('embedded-opentype'),
        local('Raleway Bold Italic'),
        local('Raleway-700italic'),
        url('../media/fonts/Raleway-700italic/Raleway-700italic.woff2') format('woff2'),
        url('../media/fonts/Raleway-700italic/Raleway-700italic.woff') format('woff'),
        url('../media/fonts/Raleway-700italic/Raleway-700italic.ttf') format('truetype'),
        url('../media/fonts/Raleway-700italic/Raleway-700italic.svg#Raleway') format('svg');
 }

 @font-face {
   font-family: 'Indie Flower';
   font-weight: normal;
   font-style: normal;
   src: url('../media/fonts/Indie-Flower-regular/Indie-Flower-regular.eot');
   src: url('../media/fonts/Indie-Flower-regular/Indie-Flower-regular.eot?#iefix') format('embedded-opentype'),
        local('Indie Flower'),
        local('Indie-Flower-regular'),
        url('../media/fonts/Indie-Flower-regular/Indie-Flower-regular.woff2') format('woff2'),
        url('../media/fonts/Indie-Flower-regular/Indie-Flower-regular.woff') format('woff'),
        url('../media/fonts/Indie-Flower-regular/Indie-Flower-regular.ttf') format('truetype'),
        url('../media/fonts/Indie-Flower-regular/Indie-Flower-regular.svg#IndieFlower') format('svg');
 }
