@import 'common';
* {
  box-sizing: border-box;
}
html {
  font-size: 11pt;
}
body {
  background: #fff;
  color: #404040;
  font: 1em/1.4 "Raleway","Georgia";
  margin: 0;
}
html, body, #app, #app > div {
  height: 100%;
  min-height: 100%;
}
div.site {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
input,
textarea {
  font: 1em/1.4 "Raleway","Calibri", "Verdana", sans-serif;
}
// text
p {
  margin: 0 0 1em;
  text-align: justify;
  &.smaller {
    font-size: 0.9em;
  }
}
// images
img {
  max-width: 100%;
}
// links
a {
  color: #1CAE66;
  cursor: pointer;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}
// buttons
a.button,
button {
  background: rgba(147,128,108,.15);
  border: none;
  border-radius: 2px;
  color: #404040;
  cursor: pointer;
  display: inline-block;
  line-height: 1em;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  &.button-green {
    color: white;
    background: #46B980;
    &[disabled] {
      background: #95eac0;
    }
  }
  &.button-blue {
    color: white;
    background: #00ACED;
  }
  &.button-block {
    text-align: center;
    display: block;
    width: 100%;
  }
  &[disabled] {
    cursor: not-allowed;
  }
  i.fa {
    font-size: 0.8em;
    margin-right: 6px;
  }
}
// class added to elements if they are to be hidden
.hidden {
  display: none !important;
}
// server responses (typically shown below the related form)
.server-response {
  font-style: italic;
  margin: 1em 0 0;
  &.success {
    color: #3aaf75;
  }
  &.error {
    color: #e24141;
  }
}
// contact form
.contact {
  input,
  textarea {
    margin-bottom: 0.5rem;
  }
}
//content
main {
  @include wrapper();
  flex: 1 0 auto;
  margin-bottom: 2em;
  padding: 0;
  .container {
    padding: 0 5%;
  }
}
/**
 * Page parts & pages.
 */
@import 'header';
@import 'footer';
@import 'home';
@import 'post';
@media (min-width: $screen-medium) {
  //buttons
  a.button,
  button {
    font-size: 0.9rem;
  }
  main {
    .container {
      padding: 0;
      margin: 0 auto;
      width: 720px;
    }
  }
}
@media (min-width: $screen-large) {
  main {
    .container {
      width: 1200px;
    }
  }
}
//fix font size on iphone
@media screen and (max-device-width: 480px) {
  body {
    -webkit-text-size-adjust: none;
  }
}
